################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WindowsFormsApp1/v16
/WindowsFormsApp1/obj/
/WindowsFormsApp1/bin/
/MonitorProcess.ini
/WindowsFormsApp1/MonitorProcess.ini
/MonitoringProcess/bin/Release
/MonitoringProcess/obj
/MonitoringProcess/bin/Debug
/.vs
/MonitoringProcess/MonitorProcess.ini
/MonitoringProcess/txtHistory.txt
