<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <appSettings>
    <add key="LogRootDirectory" value="C:\Logs\" />
    <add key="logPartialDirectoryFormat" value="yyyy-MM-dd HH-mm-ss"/>
    <add key="logFilenameFormat" value="yyyy-MM-dd-HH"/>
    <add key="reportFileFormat" value="yyyyMMdd HH-mm-ss"/>
    <add key="xmlDateTimeFormat" value ="yyyy-MM-dd HH-mm-ss"/>
    <add key="processCPU" value="% Processor Time"/>
    <add key="processMemory" value="Working Set - Private"/>
    <add key="processThread" value="Thread Count"/>
    <add key="processHandle" value="Handle Count"/>
    <add key="processGDI" value="GDI Count"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>